
#container-about main {
  width: 100%;
  max-width: 37em;
  padding: 1em;
}

@media (min-width: 50em) {
  #container-about main {
    padding-top: 3em;
  }
}

.about > p:first-of-type {
  font-size: 1.25em;
  font-weight: 300;
}

.about > p {
  color: rgb(66,67,47);
  color: rgba(66,67,47,1);
}

#container-about .small.bt1 {
  border-color: rgb(205,206,191);
  border-color: rgba(205,206,191,1);
}
