/******************************************/
/******************************************/
/* detail related */
/******************************************/
/******************************************/

.item-information {
  position: fixed;
  background-color: rgb(242,239,229);
  background-color: rgba(242,239,229,1);
  left: 0;
  right: 0;
  box-shadow: 0 0 1em 0 rgba(132,133,94,.5);
  font-size: .9rem;
}

.item-information h3 {
  font-size: 1em;
  color: rgb(33,33,24);
  color: rgba(33,33,24,1);
}
