/******************************************/
/******************************************/
/* detail related */
/******************************************/
/******************************************/

#detailWrapper {
  width: 100%;
}

.detailHeader {
  text-align: center;
  padding-top: .3rem;
  padding-bottom: .3rem;
  border-bottom: 1px solid;
}

.detailHeader .logo,
.detailHeader .logo svg {
  margin: 0 auto;
  height: 1.5rem;
  width: auto;
}

.item-information ul {
  text-align: center;
  padding: 1rem 1rem 1.5rem;
}

.item-information ul li + li {
  margin-top: 1rem;
}

.item-information ul li h3 {
  color: rgba(061,060,057,1);
  font-size: .75em;
  letter-spacing: 2px;
}

#detailWrapper .close {
  top: 1.25em;
  right: 1.25em;
  width: 2.5rem;
  height: 2.5rem;
  border-radius: 1.25rem;
  box-shadow: 0 0 .5rem 0 rgba(066,067,047,.6);
  border-color: transparent;
}

/******************************************/
/******************************************/
/** Additional Colors **/
/******************************************/
/******************************************/
