/* charset UTF-8 */

html {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

*:not(img), *:before, *:after {
  -webkit-box-sizing: inherit;
  -moz-box-sizing: inherit;
  box-sizing: inherit;
}

body {
  margin: 0;
  padding: 0;
  background-color: rgba(242,239,229,1);
  color: rgba(132,133,94,1);
  font-family: "Adobe Caslon", AdobeCaslon, Gentium, Georgia, Times, Serif;
  text-transform: uppercase;
  letter-spacing: .075em;
}

img { width: 100%; height: auto; }

.list-reset {
  margin: 0;
  padding: 0;
  list-style: none;
}

/* some present margins... */
.m0    { margin: 0;     }
.m1    { margin: 1rem;  }
.m2    { margin: 2rem;  }
.m3    { margin: 3rem;  }
.m4    { margin: 4rem;  }

.p0    { padding: 0;    }
.p1    { padding: 1rem; }
.p2    { padding: 2rem; }
.p3    { padding: 3rem; }
.p4    { padding: 4rem; }

.text-center,
.center-text   { text-align: center; }
.text-left,
.left-text     { text-align: left; }
.text-right,
.right-text    { text-align: right; }
