/* charset UTF-8 */

html {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

*:not(img), *:before, *:after {
  -webkit-box-sizing: inherit;
  -moz-box-sizing: inherit;
  box-sizing: inherit;
}

body {
  margin: 0;
  padding: 0;
  background-color: rgba(242,239,229,1);
  color: rgba(132,133,94,1);
  font-family: "Adobe Caslon", AdobeCaslon, Gentium, Georgia, Times, Serif;
}

img { width: 100%; height: auto; }

.all-caps,
.uppercase {
  text-transform: uppercase;
  letter-spacing: .075em;
}

.list-reset {
  margin: 0;
  padding: 0;
  list-style: none;
}

/* some preset margins, padding, etc ... */
.m0    { margin: 0;     }
.m1    { margin: 1rem;  }
.m2    { margin: 2rem;  }
.m3    { margin: 3rem;  }
.m4    { margin: 4rem;  }

.p0    { padding: 0;    }
.p1    { padding: 1rem; }
.p2    { padding: 2rem; }
.p3    { padding: 3rem; }
.p4    { padding: 4rem; }

.text-center,
.center-text   { text-align: center; }
.text-left,
.left-text     { text-align: left; }
.text-right,
.right-text    { text-align: right; }

/**/

.flex-center {
  display: flex;
  align-items: center;
  width: 100%;
  height: 100%;
}

.flex-center.text-center {
  justify-content: center;
}

.flex-center .flex-item,
header .flex-center .logo {
  flex: 1;
}

.block {
  float: left;
  position: relative;
  overflow: hidden;
}

.block img {
  display: block;
}

.one-x {
  width: 10%;
}

.two-x {
  width: 20%;
}

.three-x {
  width: 30%;
}

.four-x {
  width: 40%;
}

.logo {
  width: initial;
  margin-left: auto;
  margin-right: auto;
}

/******/

.block .description {
  position: absolute;
  display: none;
  font-size: 50%;
  background-color: rgba(242,239,229,1);
  padding: .5em;
  left: .5em;
  bottom: .5em;
  width: calc(100% - 2em);
}

.block .description h2 {
  font-size: 75%;
}

.items .block,
.items .block .description {
  transition: all 400ms;
}

.items .block:hover {
  transform: scale(1.5,1.5);
  z-index: 9;
}

.items .block:hover .description {
  display: block;
}

.items .block:hover,
.items .block:hover .description {
  box-shadow: 0 0 .5em 0 rgba(0,0,0,.33);
}

.block .description * {
  margin: 0;
}
