
.editable-row {
  &::after {
    .cf;
  }
}

.editable-input,
.editable-buttons {
  .relative;
  float: left;
}

.editable-input {
  width: 75%;

  .form-control {
    width: 100%;
  }
}

.editable-buttons {
  width: 25%;
  &::after {
    .cf;
  }

  button {
    width: 50%;
    float: left;
    .transition(all 300ms);

    border:none;
    background-color: transparent;
    border-radius: .15em;
  }

  .editable-submit {
    background-color: @green;
    color:@off-white;
    &:hover {
      background-color: @dark-green;
    }
  }
  .editable-close {
    background-color: @yellow;
    color:@off-white;
    &:hover {
      background-color: @dark-yellow;
    }
  }
}
