#home .item-grid { margin-top: 1rem; }

#home .item-grid > li {
  padding: 0;
  transition: all 400ms;
}

#home .item-grid > li:hover {
  transform: scale(1.5,1.5);
  z-index: 9;
  box-shadow: 0 0 .5em 0 rgba(0,0,0,.33);
}

#home .item-grid > li:hover:nth-child(10n+5) {
  transform-origin: 100% 50%;
}
#home .item-grid > li:hover:nth-child(10n+6) {
  transform-origin: 0 50%;
}

/**** home edits to item grid? ****/
@media (min-width: 40em) {
  #home {
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    overflow: hidden;
  }
}

@media (min-width: 50rem) {
  #home header .two-x {
    width: calc(100% / 5 * 2);
  }
  #home header .three-x {
    width: calc(100% / 5 * 3);
  }
    /***** css hack the logo and menu to be vetically centered for now *****/
  .tile {
    width: 100%;
    height: 0;
    position: relative;
    overflow: hidden;
  }

  .eight-by-three {
    padding-bottom: calc(100% * 3 / 8);
  }

  .twelve-by-three {
    padding-bottom: calc(100% * 3 / 12 - 1px);
  }

  .tile .inner {
    position: absolute;
    top:0;
    right:0;
    bottom:0;
    left:0;
    width: 100%;
    height: 100%;
  }
}

@media (min-width: 60rem) {
  #home header .two-x {
    width: calc(100% / 6 * 2);
  }
  #home header .three-x {
    width: calc(100% / 6 * 3);
  }
}

@media (min-width: 69rem) {
  #home header .two-x {
    width: calc(100% / 8 * 2);
  }
  #home header .three-x {
    width: calc(100% / 8 * 3);
  }
}

@media (min-width: 93rem) {
  #home header .two-x {
    width: calc(100% / 10 * 2 - 1px);
  }
  #home header .three-x {
    width: calc(100% / 10 * 3);
  }
}

@media (min-width: 106rem) {
  #home header .two-x {
    width: calc(100% / 12 * 2);
  }
  #home header .three-x {
    width: calc(100% / 12 * 3);
  }
}

@media (min-width: 118rem) {
  #home header .two-x {
    width: calc(100% / 14 * 2);
  }
  #home header .three-x {
    width: calc(100% / 14 * 3);
  }
}

@media (min-width: 125rem) {
  #home header .two-x {
    width: calc(100% / 16 * 2);
  }
  #home header .three-x {
    width: calc(100% / 16 * 3);
  }
}

/***** hmmm *****/
#home .item-grid.clearfix::after {
  display: none;
  clear: none;
}

#home .favorite-container {
  display: none;
}

/*** feck this shit is getting sloppy ***/
#home .textLink {
  display: none;
}
@media (min-width: 50em) {
  #home .textLink {
    display: initial;
  }
}

/*** special home footer? ***/
#home footer {
  background-color:rgba(242,239,229,1);
  position: fixed;
  right:0;
  bottom:0;
  left:0;
  margin:0;
  padding: 1rem;
}

#home footer * {
  margin:0;
  padding:0;
}

@media (min-width: 50rem) {
  #home footer p.pt2.uppercase {
    margin: 0;
    padding: 0;
    float:left;
  }
  #home footer p.m0.p0.small {
    margin: 0;
    padding: 0;
    float:right;
    text-align: right;
    width: 33%;
  }
}
