#home header .flex-center .logo {
  flex: 1;
}

#home .item-grid > li {
  padding: 0;
  transition: all 400ms;
}

#home .item-grid > li:hover {
  transform: scale(1.5,1.5);
  z-index: 9;
  box-shadow: 0 0 .5em 0 rgba(0,0,0,.33);
}

#home .item-grid > li:hover:nth-child(10n+5) {
  transform-origin: 100% 50%;
}
#home .item-grid > li:hover:nth-child(10n+6) {
  transform-origin: 0 50%;
}

#home .logo {
  margin-bottom: 0;
  margin-top: 0;
}

@media (min-width: 701px) {
  #home {
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    overflow: hidden;
  }

  #home header a,
  #home header a:link {
    padding: 0;
  }
  #home header .logo {
    max-width: 90%;
  }
}
/**** home edits to item grid? ****/
#home header .three-x {
  width: 100%;
}

@media (min-width: 701px) {
  #home header .two-x {
    width: calc(100% / 5 * 2);
  }
  #home header .three-x {
    width: calc(100% / 5 * 3);
  }
}

@media (min-width: 50em) {
  /***** css hack the logo and menu to be vetically centered for now *****/
  /***** css hack the logo and menu to be vetically centered for now *****/
  /***** css hack the logo and menu to be vetically centered for now *****/
  /***** css hack the logo and menu to be vetically centered for now *****/
  /***** css hack the logo and menu to be vetically centered for now *****/
  .tile {
    width: 100%;
    height: 0;
    position: relative;
    overflow: hidden;
  }

  .tile.eight-by-three {
    padding-bottom: calc(100% * 3 / 8);
  }

  .tile.twelve-by-three {
    padding-bottom: calc(100% * 3 / 12);
  }

  .tile .inner {
    position: absolute;
    top:0;
    right:0;
    bottom:0;
    left:0;
    width: 100%;
    height: 100%;
  }
}

@media (min-width: 901px) {
  #home header .two-x {
    width: calc(100% / 6 * 2);
  }
  #home header .three-x {
    width: calc(100% / 6 * 3);
  }
}

@media (min-width: 1101px) {
  #home header .two-x {
    width: calc(100% / 8 * 2);
  }
  #home header .three-x {
    width: calc(100% / 8 * 3);
  }
}

@media (min-width: 1351px) {
  #home header .two-x {
    width: calc(100% / 10 * 2);
  }
  #home header .three-x {
    width: calc(100% / 10 * 3);
  }
}

@media (min-width: 1701px) {
  #home header .two-x {
    width: calc(100% / 12 * 2);
  }
  #home header .three-x {
    width: calc(100% / 12 * 3);
  }
}

@media (min-width: 1901px) {
  #home header .two-x {
    width: calc(100% / 15 * 2);
  }
  #home header .three-x {
    width: calc(100% / 15 * 3);
  }
}

/***** hmmm *****/
#home .item-grid.clearfix::after {
  display: none;
  clear: none;
}

#home .favorite-container {
  display: none;
}

/*** feck this shit is getting sloppy ***/
#home .textLink {
  display: none;
}
@media (min-width: 50em) {
  #home .textLink {
    display: initial;
  }
}
