#home header .flex-center .logo {
  flex: 1;
}

#home .item-grid > li {
  padding: 0;
  transition: all 400ms;
}

#home .item-grid > li:hover {
  transform: scale(1.5,1.5);
  z-index: 9;
}

#home .item-grid > li:hover {
  box-shadow: 0 0 .5em 0 rgba(0,0,0,.33);
}

#home .logo {
  margin-bottom: 1rem;
  margin-top: 2rem;
}

@media (min-width: 701px) {
  #home header .logo {
    max-width: 90%;
  }
}
/**** home edits to item grid? ****/
#home header .three-x {
  width: 100%;
}

@media (min-width: 701px) {
  #home header .two-x {
    width: calc(100% / 5 * 2);
  }
  #home header .three-x {
    width: calc(100% / 5 * 3);
  }
}

@media (min-width: 901px) {
  #home header .two-x {
    width: calc(100% / 6 * 2);
  }
  #home header .three-x {
    width: calc(100% / 6 * 3);
  }
}

@media (min-width: 1101px) {
  #home header .two-x {
    width: calc(100% / 8 * 2);
  }
  #home header .three-x {
    width: calc(100% / 8 * 3);
  }
}

@media (min-width: 1351px) {
  #home header .two-x {
    width: calc(100% / 10 * 2);
  }
  #home header .three-x {
    width: calc(100% / 10 * 3);
  }
}

@media (min-width: 1701px) {
  #home header .two-x {
    width: calc(100% / 12 * 2);
  }
  #home header .three-x {
    width: calc(100% / 12 * 3);
  }
}

@media (min-width: 1901px) {
  #home header .two-x {
    width: calc(100% / 15 * 2);
  }
  #home header .three-x {
    width: calc(100% / 15 * 3);
  }
}
