#home .homeHidden {
  display:none;
}

#home .item-grid > li {
  padding: 0;
  .transition(all 400ms);
}

#home .item-grid > li:hover {
  transform: scale(1.5,1.5);
  z-index: 9;
  .box-shadow;
}

#home .item-grid > li:hover:nth-child(odd) {
  transform-origin: 0% 50%;
}
#home .item-grid > li:hover:nth-child(even) {
  transform-origin: 100% 50%;
}
#home .item-grid > li:hover:nth-child(1) {
  transform-origin: 0% 0%;
}
#home .item-grid > li:hover:nth-child(2) {
  transform-origin: 100% 0%;
}

// #home .item-grid > li:hover:nth-child(10n+5) {
//   transform-origin: 100% 50%;
// }
// #home .item-grid > li:hover:nth-child(10n+6) {
//   transform-origin: 0 50%;
// }

/**** home edits to item grid? ****/
@media (min-width: 40em) {
  #home {
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    overflow: hidden;
  }
}

@media (min-width: @main-break) {
  #home header {
    margin-bottom: 1rem;
  }
  .tile {
    width: 100%;
    height: 0;
    position: relative;
    overflow: hidden;
  }

  .tile .inner {
    position: absolute;
    top:0;
    right:0;
    bottom:0;
    left:0;
    width: 100%;
    height: 100%;
  }
}

/***** hmmm *****/
#home .item-grid.clearfix::after {
  display: none;
  clear: none;
}

#home .favorite-container {
  display: none;
}

/*** feck this shit is getting sloppy ***/
#home .textLink {
  display: none;
}
@media (min-width: 50em) {
  #home .textLink {
    display: initial;
  }
}

/*** special home footer? ***/
#home footer {
  background-color: @off-white;
  position: fixed;
  right:0;
  bottom:0;
  left:0;
  margin:0;
  padding: 1rem;
}

#home footer * {
  margin:0;
  padding:0;
}

@media (min-width: @main-break) {
  #home footer p.pt2.uppercase {
    margin: 0;
    padding: 0;
    float:left;
  }
  #home footer p.m0.p0.small {
    margin: 0;
    padding: 0;
    float:right;
    text-align: right;
    width: 33%;
  }
}
