
/* what parts of this are like the trade login? */
.search-wrapper,
.search-wrapper label,
.search-wrapper input,
.login-wrapper label,
.login-wrapper input,
.login-wrapper button  {
  line-height: 3rem;
  height: 3rem;
  font-size: 1.5rem;
  display: block;
}

.search-wrapper input,
.login-wrapper input,
.login-wrapper button  {
  width: 100%;
}

.search-wrapper {
  position: relative;
  margin: 0 auto;
  max-width: 800px;
}

.search-wrapper input {
  color: rgb(033,033,024);
  color: rgba(033,033,024,1);
}

.search-wrapper label,
.login-wrapper label {
  position: absolute;
}

.search-wrapper label {
  left: 1rem;
}

.login-wrapper label {
  left: .5rem;
}

.search-wrapper input,
.login-wrapper input {
  background-color: transparent;;
  background-image: none;
  border: none;
  /**/
  outline: 0;
  outline: none;
  -moz-user-select: none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  -o-user-select: none;
  user-select: none;
  /**/
  transition: all 400ms;
}

.search-wrapper input {
  padding: .5rem 3rem;
  border-radius: 1.5rem;
  border: 1px solid rgb(066,067,047);
}

.search-wrapper input:focus,
.search-wrapper input:active,
.login-wrapper input:focus,
.login-wrapper input:active,
.login-wrapper button:focus,
.login-wrapper button:active {
  outline: 0;
  outline: none;
  -webkit-box-shadow: 0 0 0 2px #fff,0 0 1px 4px rgba(114,136,119,1);
  -moz-box-shadow: 0 0 0 2px #fff,0 0 1px 4px rgba(114,136,119,1);
  -ms-box-shadow: 0 0 0 2px #fff,0 0 1px 4px rgba(114,136,119,1);
  -o-box-shadow: 0 0 0 2px #fff,0 0 1px 4px rgba(114,136,119,1);
  box-shadow: 0 0 0 2px #fff,0 0 1px 4px rgba(114,136,119,1);
}

.search-wrapper input:focus,
.search-wrapper input:active,
.login-wrapper input:focus,
.login-wrapper input:active {
  background-color: white;
  color: rgb(066,067,047);
  color: rgba(066,067,047,1);
}

.login-wrapper input,
.login-wrapper button  {
  font-size: 1rem;
  padding: .5rem 2.5rem;
}

.login-wrapper input {
  color: rgb(033,033,024);
  color: rgba(033,033,024,1);
  border-bottom: 1px solid rgba(205,206,191,1);
}

.login-wrapper button {
  margin-top: .5rem;
  text-align: left;
  line-height: 2rem;
  color:rgba(066,067,047,1);
  background-color: rgba(205,206,191,1);
  border: 0;
}

.login-wrapper input:focus,
.login-wrapper input:active {
  border-bottom: 1px solid rgba(205,206,191,0);
}

.login-wrapper button:focus,
.login-wrapper button:active {
  background-color: rgba(066,067,047,1);
  color:rgba(242,239,229,1);
}
