.item-grid {
  width: 100%;
  margin-left:  -2px;
  margin-right: -2px;
}

#home .item-grid {
  margin-left: 0;
  margin-right: 0;
}

.item-grid li {
  width: 50%;
  float: left;
  padding: 2px;
  position: relative;
  overflow: hidden;
}

.item-grid li img {
  display: block;
}

/** inside the items... **/
.item-grid .description {
  position: absolute;
  display: block;
  font-size: 50%;
  background-color: rgb(242,239,229);
  background-color: rgba(242,239,229,1);
  padding: .5em;
  left: .5em;
  bottom: .5em;
  width: calc(100% - 2em);
  transition: all 400ms;
  opacity: 0;
}

.item-grid > li:hover .description {
  box-shadow: 0 0 .5em 0 rgba(0,0,0,.33);
  opacity: 1;
}

.item-grid .description h2 {
  font-size: 75%;
}

.item-grid .description * {
  margin: 0;
}

.item-grid li > a,
.item-grid li > a:hover {
  color: rgb(132,133,94);
  color: rgba(132,133,94,1);
}

@media (min-width: 30rem) {
  .item-grid li {
    width: calc(100% / 3);
  }
}

@media (min-width: 38rem) {
  .item-grid li {
    width: calc(100% / 4);
  }
  #home .item-grid li {
    width: calc(100% / 5);
  }
}

@media (min-width: 44rem) {
  .item-grid li {
    width: calc(100% / 5);
  }
  #home .item-grid li {
    width: calc(100% / 6);
  }
}

@media (min-width: 60rem) {
  .item-grid li {
    width: calc(100% / 6);
  }
  #home .item-grid li {
    width: calc(100% / 8);
  }
}

@media (min-width: 69rem) {
  .item-grid li {
    width: calc(100% / 7);
  }
  #home .item-grid li {
    width: calc(100% / 10);
  }
}

@media (min-width: 93rem) {
  .item-grid li {
    width: calc(100% / 8);
  }
  #home .item-grid li {
    width: calc(100% / 10);
  }
}

@media (min-width: 106rem) {
  .item-grid li {
    width: calc(100% / 9);
  }
  #home .item-grid li {
    width: calc(100% / 12);
  }
}

@media (min-width: 118rem) {
  .item-grid li {
    width: calc(100% / 10);
  }
  #home .item-grid li {
    width: calc(100% / 14);
  }
}

@media (min-width: 125rem) {
  .item-grid li {
    width: calc(100% / 11);
  }
  #home .item-grid li {
    width: calc(100% / 16);
  }
}
