.item-grid {
  width: 100%;
  margin-left:  -2px;
  margin-right: -2px;
}

.item-grid > li {
  width: 50%;
  float: left;
  padding: 2px;
  position: relative;
}

.item-grid li img {
  display: block;
}

/** inside the items... **/
.item-grid {
  .description {
    position: absolute;
    font-size: 75%;
    padding: .5em .5em .5em 2.6rem;
    left: .5rem;
    bottom: .5rem;
    right: .5rem;
    .transition(all 400ms);
    opacity: 0;
    height:2.5rem;
  }
  .categoryCode,
  .categoryCode::before {
    display: block;
    position:absolute;
    width: 1em;
    height: 1em;
    line-height: 1em;
    text-align:center;
  }
  .categoryCode {
    font-size: .45em;
    margin-top: .11em !important;
    margin-left: -1.5em!important;
  }
  .categoryCode::before {
    background: transparent;
    border: 1px solid currentColor;
    content: '';
    border-radius: 100%;
    top:50%;
    left:50%;
    -webkit-transform: translate(-50%,-50%);
    -moz-transform: translate(-50%,-50%);
    -ms-transform: translate(-50%,-50%);
    -o-transform: translate(-50%,-50%);
    transform: translate(-50%,-50%);
  }
  button.favorite {
    bottom: .5rem;
    left:.5rem;
    width: 1.5rem;
    height: 2.5rem;
    opacity: 0;
    border: none;
    border-right: 1px solid @gold;
    z-index: 3;
  }
}

.item-grid > li:hover {
  .description {
    .box-shadow;
    opacity: 1;
  }
  button.favorite {
    opacity: 1;
  }
}

.item-grid .description h2 {
  font-size: 75%;
}

.item-grid .description * {
  margin: 0;
}

.item-grid li > a,
.item-grid li > a:hover {
  color: rgb(132,133,94);
  color: rgba(132,133,94,1);
}

@media (max-width: 29.999rem) {
  .item-grid > li:nth-child(odd) {
    clear:left;
  }
}

@media (min-width: 30rem) and (max-width: 39.999rem) {
  .item-grid > li {
    width: calc(100% / 3);
  }
  .item-grid > li:nth-child(3n+4) {
    clear:left;
  }
}

@media (min-width: 40rem) and (max-width: 49.999rem) {
  .item-grid > li {
    width: calc(100% / 4);
  }
  .item-grid > li:nth-child(4n+5) {
    clear:left;
  }
}

@media (min-width: 50rem) and (max-width: 59.999rem) {
  .item-grid > li {
    width: calc(100% / 5);
  }
  .item-grid > li:nth-child(5n+6) {
    clear:left;
  }
}

@media (min-width: 60rem) and (max-width: 69.999rem) {
  .item-grid > li {
    width: calc(100% / 6);
  }
  .item-grid > li:nth-child(6n+7) {
    clear:left;
  }
}

@media (min-width: 70rem) and (max-width: 79.999rem) {
  .item-grid > li {
    width: calc(100% / 7);
  }
  .item-grid > li:nth-child(7n+8) {
    clear:left;
  }
}

@media (min-width: 80rem) and (max-width: 89.999rem) {
  .item-grid > li {
    width: calc(100% / 8);
  }
  .item-grid > li:nth-child(8n+9) {
    clear:left;
  }
}

@media (min-width: 90rem) and (max-width: 99.999rem) {
  .item-grid > li {
    width: calc(100% / 9);
  }
  .item-grid > li:nth-child(9n+10) {
    clear:left;
  }
}

@media (min-width: 100rem) and (max-width: 109.999rem) {
  .item-grid > li {
    width: calc(100% / 10);
  }
  .item-grid > li:nth-child(10n+11) {
    clear:left;
  }
}

@media (min-width: 110rem) and (max-width: 119.999rem) {
  .item-grid > li {
    width: calc(100% / 11);
  }
  .item-grid > li:nth-child(11n+12) {
    clear:left;
  }
}

@media (min-width: 120rem) and (max-width: 129.999rem) {
  .item-grid > li {
    width: calc(100% / 12);
  }
  .item-grid > li:nth-child(12n+13) {
    clear:left;
  }
}

@media (min-width: 130rem) and (max-width: 139.999rem) {
  .item-grid > li {
    width: calc(100% / 13);
  }
  .item-grid > li:nth-child(13n+14) {
    clear:left;
  }
}

@media (min-width: 140rem) and (max-width: 149.999rem) {
  .item-grid > li {
    width: calc(100% / 14);
  }
  .item-grid > li:nth-child(14n+15) {
    clear:left;
  }
}

@media (min-width: 150rem) and (max-width: 159.999rem) {
  .item-grid > li {
    width: calc(100% / 15);
  }
  .item-grid > li:nth-child(15n+16) {
    clear:left;
  }
}

@media (min-width: 160rem) {
  .item-grid > li {
    width: calc(100% / 16);
  }
  .item-grid > li:nth-child(16n+17) {
    clear:left;
  }
}
