.item-grid {
  width: 100%;
  margin-left:  -2px;
  margin-right: -2px;
}

.item-grid li {
  width: 50%;
  float: left;
  padding: 2px;
  position: relative;
  overflow: hidden;
}

.item-grid li img {
  display: block;
}

/** inside the items... **/
.item-grid {
  .description {
    font-size: 75%;
    padding: .5em .5em .5em 2.6rem;
    left: .5rem;
    bottom: .5rem;
    right: .5rem;
    .transition(all 400ms);
    opacity: 0;
    height:2.5rem;
  }
  .categoryCode,
  .categoryCode::before {
    display: block;
    position:absolute;
    width: 1em;
    height: 1em;
    line-height: 1em;
    text-align:center;
  }
  .categoryCode {
    font-size: .45em;
    margin-top: .11em !important;
    margin-left: -1.5em!important;
  }
  .categoryCode::before {
    background: transparent;
    border: 1px solid currentColor;
    content: '';
    border-radius: 100%;
    top:50%;
    left:50%;
    -webkit-transform: translate(-50%,-50%);
    -moz-transform: translate(-50%,-50%);
    -ms-transform: translate(-50%,-50%);
    -o-transform: translate(-50%,-50%);
    transform: translate(-50%,-50%);
  }
  button.favorite {
    bottom: .5rem;
    left:.5rem;
    width: 1.5rem;
    height: 2.5rem;
    opacity: 0;
    border: none;
    border-right: 1px solid @gold;
    z-index: 3;
  }
}

.item-grid > li:hover {
  .description {
    .box-shadow;
    opacity: 1;
  }
  button.favorite {
    opacity: 1;
  }
}

.item-grid .description h2 {
  font-size: 75%;
}

.item-grid .description * {
  margin: 0;
}

.item-grid li > a,
.item-grid li > a:hover {
  color: rgb(132,133,94);
  color: rgba(132,133,94,1);
}

@media (min-width: 30rem) {
  .item-grid li {
    width: calc(100% / 3);
  }
}

@media (min-width: 40rem) {
  .item-grid li {
    width: calc(100% / 4);
  }
}

@media (min-width: 50rem) {
  .item-grid li {
    width: calc(100% / 5);
  }
}

@media (min-width: 60rem) {
  .item-grid li {
    width: calc(100% / 6);
  }
}

@media (min-width: 70rem) {
  .item-grid li {
    width: calc(100% / 7);
  }
}

@media (min-width: 80rem) {
  .item-grid li {
    width: calc(100% / 8);
  }
}

@media (min-width: 90rem) {
  .item-grid li {
    width: calc(100% / 9);
  }
}

@media (min-width: 100rem) {
  .item-grid li {
    width: calc(100% / 10);
  }
}

@media (min-width: 110rem) {
  .item-grid li {
    width: calc(100% / 11);
  }
}

@media (min-width: 120rem) {
  .item-grid li {
    width: calc(100% / 12);
  }
}

@media (min-width: 130rem) {
  .item-grid li {
    width: calc(100% / 13);
  }
}

@media (min-width: 140rem) {
  .item-grid li {
    width: calc(100% / 14);
  }
}

@media (min-width: 150rem) {
  .item-grid li {
    width: calc(100% / 15);
  }
}

@media (min-width: 160rem) {
  .item-grid li {
    width: calc(100% / 16);
  }
}
