.item-grid {
  width: 100%;
  margin-left:  -2px;
  margin-right: -2px;
}

.item-grid li {
  width: 50%;
  float: left;
  padding: 2px;
  position: relative;
  overflow: hidden;
}

.item-grid li img {
  display: block;
}

/** inside the items... **/
.item-grid .description {
  position: absolute;
  display: block;
  font-size: 50%;
  background-color: @off-white;
  padding: .5em;
  left: .5em;
  bottom: .5em;
  width: calc(100% - 2em);
  transition: all 400ms;
  opacity: 0;
}

.item-grid > li:hover .description {
  .box-shadow;
  opacity: 1;
}

.item-grid .description h2 {
  font-size: 75%;
}

.item-grid .description * {
  margin: 0;
}

.item-grid li > a,
.item-grid li > a:hover {
  color: rgb(132,133,94);
  color: rgba(132,133,94,1);
}

@media (min-width: 30rem) {
  .item-grid li {
    width: calc(100% / 3);
  }
}

@media (min-width: 40rem) {
  .item-grid li {
    width: calc(100% / 4);
  }
}

@media (min-width: 50rem) {
  .item-grid li {
    width: calc(100% / 5);
  }
}

@media (min-width: 60rem) {
  .item-grid li {
    width: calc(100% / 6);
  }
}

@media (min-width: 70rem) {
  .item-grid li {
    width: calc(100% / 7);
  }
}

@media (min-width: 80rem) {
  .item-grid li {
    width: calc(100% / 8);
  }
}

@media (min-width: 90rem) {
  .item-grid li {
    width: calc(100% / 9);
  }
}

@media (min-width: 100rem) {
  .item-grid li {
    width: calc(100% / 10);
  }
}

@media (min-width: 110rem) {
  .item-grid li {
    width: calc(100% / 11);
  }
}

@media (min-width: 120rem) {
  .item-grid li {
    width: calc(100% / 12);
  }
}

@media (min-width: 130rem) {
  .item-grid li {
    width: calc(100% / 13);
  }
}

@media (min-width: 140rem) {
  .item-grid li {
    width: calc(100% / 14);
  }
}

@media (min-width: 150rem) {
  .item-grid li {
    width: calc(100% / 15);
  }
}

@media (min-width: 160rem) {
  .item-grid li {
    width: calc(100% / 16);
  }
}
