/** MENU/HEADER STYLES **/

header .logo {
  max-width: 22rem;
  margin: 2rem auto -.6rem;
}

header nav {
  text-transform: uppercase;
  letter-spacing: .1em;
}

nav ul.list-inline {
  display: flex;
  text-align: center;
}

nav ul.list-inline li {
  flex: 1;
}

header a,
header a:link {
  border: none;
}

header nav a,
header nav a:link {
  display: block;
  padding: 5px;
  text-decoration: none;
  transition: all 400ms;
}

header nav a:hover {
  text-decoration: none;
  background-color: rgb(132,133,94);
  background-color: rgba(132,133,94,1);
  color: rgb(242,239,229);
  color: rgba(242,239,229,1);
}

nav .active {
  position: relative;
}

nav .active a {
  background-color: rgb(205,206,191);
  background-color: rgba(205,206,191,1);
}

nav .active::before {
  color: rgb(205,206,191);
  color: rgba(205,206,191,1);
  display: inline-block;
  font: normal normal normal 14px/2px FontAwesome;
  font-size: inherit;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  content: "\f0d7";
  position: absolute;
  left: 50%;
  -webkit-transform: translateX(-50%);
  -moz-transform: translateX(-50%);
  transform: translateX(-50%);
  bottom: -3px;
  transition: all 400ms;
}

@media (max-width: 50em) {
  nav ul.MenuHome {
    display: flex;
    text-align: center;
  }

  nav ul.MenuHome li {
    flex: 1;
  }
  nav ul.MenuHome,
  nav ul.list-inline {
    border-top: 1px solid;
    border-bottom: 1px solid;
  }
  nav ul.MenuHome li + li,
  nav ul.list-inline li + li {
    border-left: 1px solid;
  }
  nav ul.MenuHome li a i.fa,
  nav ul.list-inline li a i.fa {
    height: 2em;
    line-height: 2em;
  }
  nav .active:hover::before {
    color: rgb(132,133,94);
    color: rgba(132,133,94,1);
  }
}

@media (min-width: 50em) {
  header .logo {
    margin-top: 3rem;
    margin-bottom: -.35rem;
  }
  header nav {
    max-width: 800px;
    margin-left: auto;
    margin-right: auto;
  }
  header nav a,
  header nav a:link,
  header nav a:hover {
    background-color: transparent;
    color: rgb(132,133,94);
    color: rgba(132,133,94,1);
    padding: 0;
    font-size: .85em;
  }
  header nav a:hover {
    color: rgb(66,67,47);
    color: rgba(66,67,47,1);
  }

  nav .active a {
    color: rgba(205,206,191,1);
  }
  nav .active::before {
    border-top: 1px solid;
    bottom: -.5em;
    width: 75%;
    margin-left: auto;
    margin-right: auto;
  }
}
