.popup {
  background-color: @off-white;
  .box-shadow;
}

.popup .close {
  top: -.75rem;
  right: -.75rem;
  width: 1.5rem;
  height: 1.5rem;
  border-radius: .75rem;
  .box-shadow;
  border-color: transparent;
}

#detailWrapper .favorite.popup {
  width: 300px;
  background: @off-white;
  z-index: 99;
  height: auto;
  position: absolute;
  left: 95%;
  top: 95%;
}

/***** favorites customization for pricelist *****/
td.favButton {
  position: relative;
  .favorite-container .popup {
    left: 2rem;
    top: 0;
    width: 250px; // this needs to be dynamic based on the location?
    &::before {
      content: '\f085';
      font-family: 'DL';
      display: block;
      position: absolute;
      left: -1.6rem;
      top: -6px;
      font-size: 2rem;
      color:@gold;
      -webkit-text-shadow: 0 0 .4rem rgba(066,067,047,.5);
      -moz-text-shadow: 0 0 .4rem rgba(066,067,047,.5);
      -ms-text-shadow: 0 0 .4rem rgba(066,067,047,.5);
      -o-text-shadow: 0 0 .4rem rgba(066,067,047,.5);
      text-shadow: 0 0 .4rem rgba(066,067,047,.5);
    }
  }
}
