.popup {
  background-color: @off-white;
  .box-shadow;
}

.popup .close {
  top: -.75rem;
  right: -.75rem;
  width: 1.5rem;
  height: 1.5rem;
  border-radius: .75rem;
  .box-shadow;
  border-color: transparent;
}

#detailWrapper .favorite.popup {
  width: 300px;
  background: @off-white;
  z-index: 99;
  height: auto;
  position: absolute;
  left: 95%;
  top: 95%;
}
