/******************************************/
/******************************************/
/* Pricelist */
/******************************************/
/******************************************/

/** design the pager <> a bit better **/
#pager {
  margin-top: -1px;
  position: relative;
}

#pager > button.control {
  flex: 1;
  height: 3rem;

  background: transparent;
  border: none;
  line-height: 3rem;
  font-size: 2rem;

  color:rgba(132,133,094,1);
  cursor: pointer;
  transition: all 400ms ease;
}
#pager > button.control:hover {
  color:rgba(242,239,229,1);
  background-color: rgba(132,133,094,1);
}
#pager > div {
  flex: 2;
}
#pager > button.control,
#pager > div {
  text-align: center;
}

#pager > button.control.disabled,
#pager > button.control.disabled:hover {
  color: rgba(205,206,191,1);
  cursor: not-allowed;
  background: transparent;
  visibility: hidden;
}


/** Pricelist table related **/
th,
td {
  border-collapse: collapse;
  border: 0;
  font-weight: normal;
  padding-left: .5em;
  padding-right: .5em;
  min-height: 28.5px;
}

th,td, td img {
  vertical-align: middle;
}

tbody tr:hover {
  background-color: rgba(132,133,94,.1);
}

tbody tr:nth-child(odd) {
  background-color: rgba(205,206,191,.15);
}

thead td {
  padding-top: .6666em;
  padding-bottom: .5em;
}

.pattern td {
  border-top: 1px solid rgba(205,206,191,.25);
  position: relative;
}

/** little icon for each kind of thing... **/
.pattern td.categoryCode::before {
  display: block;
  background: transparent;
  border: 1px solid currentColor;
  height: 1em;
  width: 1em;
  content: '';
  border-radius: 100%;
  position: absolute;
}

td.category {
  width: 2em;
  height: 2rem;
  overflow: hidden;
  white-space: nowrap;
}

td.favButton {
  width:30px;
}

td.favButton button.absolute {
  position: static;
}

/***** favorites customization for pricelist *****/
td.favButton { position: relative; }
td.favButton .favorite-container .popup {
  right: 2rem;
  top: 0;
  width: 250px;
}

/** Some ipad/mobile styles for making pricelist viewing easier without removing columns/content **/
/** It also provides a cool scrolling table feature **/
@media (max-width: 69rem) {
  .table-scroll {
    display: block;
    overflow: auto;
    overflow-y: hidden;
    overflow-x: auto;
    width: 100%;
    height: auto;
    border-spacing: 0;
    margin: 0;
    padding-top: 20px;
    -webkit-box-shadow: inset -6px 0 6px 0 rgba(132,133,94,0.5);
    -moz-box-shadow: inset -6px 0 6px 0 rgba(132,133,94,0.5);
    -ms-box-shadow: inset -6px 0 6px 0 rgba(132,133,94,0.5);
    -o-box-shadow: inset -6px 0 6px 0 rgba(132,133,94,0.5);
    box-shadow: inset -6px 0 6px 0 rgba(132,133,94,0.5);
  }
}

/***********************************************************/
/***********************************************************/
/*** trying to figure out how to style pricelist filters ***/
/***********************************************************/
/***********************************************************/

.select-type {
  max-width: 800px;
}

.select-type button {
  line-height: 2rem;
  height: auto;
  min-height: 2rem;
  padding: 0 1rem;
  -webkit-appearance: none;
  appearance: none;
  transition: all .2s ease;
}

.select-type button:focus,
.select-type button:hover {
  color: rgb(066,067,047);
  color: rgba(066,067,047,1);
  outline: none;
  -webkit-box-shadow: 0 0 0 2px #fff,0 0 1px 4px rgba(114,136,119,1);
  -moz-box-shadow: 0 0 0 2px #fff,0 0 1px 4px rgba(114,136,119,1);
  -ms-box-shadow: 0 0 0 2px #fff,0 0 1px 4px rgba(114,136,119,1);
  -o-box-shadow: 0 0 0 2px #fff,0 0 1px 4px rgba(114,136,119,1);
  box-shadow: 0 0 0 2px #fff,0 0 1px 4px rgba(114,136,119,1);
}

.select-type button:focus {
  z-index: 2;
}
.select-type button:hover {
  z-index: 4;
}

/** cutely group the buttons together **/
.button-group button + button {
  margin-top: -1px;
}

@media (max-width: 50em) {
  .button-group button:first-of-type {
    border-top-left-radius: 1em;
    border-top-right-radius: 1em;
  }
  .select-type .flex-center {
    flex-direction: column;
  }
  .select-type button {
    line-height: 1.5rem;
    min-height: 1.5rem;
    padding: 0.25rem .5rem;
    width: 100%
  }
}

@media (min-width: 50em) {
  .select-type .flex-center {
    flex-direction: row;
  }

  .button-group button + button {
    margin-left: -1px;
  }

  .button-group button:first-of-type {
    border-top-left-radius: 1rem;
    border-bottom: 0;
  }

  .button-group button:last-of-type {
    border-top-right-radius: 1rem;
    border-bottom: 0;
  }
}

/**** TRYING TO FIGURE OUT FILTERS ON MOBILE? ****/
@media (max-width: 1000px) {
  #pager > div:first-of-type {
    flex: 3;
  }
}

@media (max-width: 800px) {
  #pager {
    margin-top: calc(1.5rem + 2px);
  }
  #pager > div.inputSelect {
    flex: 2;
  }
  #pager > div.inputSelect:nth-child(4) {
    flex: 1;
  }
  #pager > div.inputSelect select {
    width: calc(100% - 1em);
  }
  #pager button.control,
  #pager .pagecount {
    height: calc(1.5rem + 2px);
    line-height: 1.5rem;
    font-size: 1rem;
    position: absolute;
    top: calc(-1.5rem - 4px);
    width: calc(100% / 3);
  }
  #pager button.control.next {
    right:0;
  }
  #pager button.control.prev {
    left:0;
  }
  #pager .pagecount {
    left: calc(100% / 3);
    font-size: .8rem;
    line-height: 1.5rem;
  }
  #pager .inputSelect {
    height: 3rem;
    padding-top: .25rem;
  }
  #pager .inputSelect span {
    display: block;
  }
}
