/******************************************/
/******************************************/
/* Pricelist */
/******************************************/
/******************************************/

.search-wrapper {
  position: relative;
  font-size: 1.5rem;
  line-height: 3rem;
  margin: 0 auto;
  max-width: 800px;
}

.search-wrapper label,
.search-wrapper input {
  color: rgb(114,136,122);
  color: rgba(114,136,122,1);
}

.search-wrapper label {
  position: absolute;
  left: 1rem;
  display: inline-block;
  line-height: 3rem;
}

.search-wrapper input {
  padding: .5rem 3rem;
  border-radius: 1.5rem;
  height: 3rem;
  font-size: 1.25rem;
  line-height: 3rem;
  display: block;
  width: 100%;
  background-color: transparent;
  background-image: none;
  border: 1px solid rgb(114,136,122);
  border: 1px solid rgba(114,136,122,1);
  /**/
  outline: 0;
  -moz-user-select: none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  -o-user-select: none;
  user-select: none;
  /**/
  transition: all 400ms;
}
.search-wrapper input:focus,
.search-wrapper input:active {
  background-color: white;
}

#pager > button.control {
  flex: 1;
  height: 3rem;

  background: transparent;
  border: none;
  line-height: 3rem;
  font-size: 2rem;
}
#pager > div {
  flex: 2;
}
#pager > button.control,
#pager > div {
  text-align: center;
}


/** Pricelist table related **/
th,
td {
  border-collapse: collapse;
  border: 0;
  font-weight: normal;
  padding-left: .5em;
  padding-right: .5em;
  min-height: 28.5px;
}

th,td, td img {
  vertical-align: middle;
}

tbody tr:hover {
  background-color: rgba(132,133,94,.1);
}

tbody tr:nth-child(odd) {
  background-color: rgba(200,200,190,.15);
}

.pattern td {
  border-top: 1px solid rgba(200,200,190,.25);
  position: relative;
}

/** little icon for each kind of thing... **/
.pattern td:first-child::before {
  display: inline-block;
  font-size: 1em;
  height: 1em;
  width: 1em;
  line-height: 1em;
  text-align: center;
  text-transform: uppercase;
  color: #BDAA9C;
  border-radius: .5em;
  border: 1px solid currentColor;
  position: absolute;
  left: 2px;
}
.textile .pattern td:first-child::before {
  content: 'T';
}
.trim .pattern td:first-child::before {
  content: 'P';
}
.leather .pattern td:first-child::before {
  content: 'L';
}
td.category {
  width: 30px;
  height: 31px;
  overflow: hidden;
  white-space: nowrap;
}

/** Some ipad/mobile styles for making pricelist viewing easier without removing columns/content **/
/** It also provides a cool scrolling table feature **/
@media (max-width: 767px) {
  .table-scroll {
    display: block;
    overflow: auto;
    overflow-y: hidden;
    overflow-x: auto;
    width: 100%;
    height: auto;
    border-spacing: 0;
    margin: 0;
    padding-top: 20px;
    -webkit-box-shadow: inset -6px 0 6px 0 rgba(132,133,94,0.5);
    -moz-box-shadow: inset -6px 0 6px 0 rgba(132,133,94,0.5);
    -ms-box-shadow: inset -6px 0 6px 0 rgba(132,133,94,0.5);
    -o-box-shadow: inset -6px 0 6px 0 rgba(132,133,94,0.5);
    box-shadow: inset -6px 0 6px 0 rgba(132,133,94,0.5);
  }
}

td.favButton {
  width:30px;
}

td.favButton button.absolute {
  position: static;
}

/***** favorites customization for pricelist *****/
td.favButton { position: relative; }
td.favButton .favorite-container .popup {
  right: 2rem;
  top: 0;
  width: 250px;
}
