.filmStrip {
  margin-left: -1em;
  margin-right: -1em;
}

.filmStrip li:first-child,
.filmStrip li:last-child {
	width: 10%;
}

.filmStrip li:nth-child(2) {
	width: 80%;
}

.filmStrip li {
  float:left;
	position: relative;
	height: 250px;
	overflow: hidden;
	margin-bottom: 2px;
  padding: 2px;
}

.filmStrip li a {
	position: absolute;
	height: 100%;
	width: 100%;
	overflow: hidden;
}

.filmStrip li a img {
	height: 100%;
	width: auto;
}

.filmStrip li:nth-child(2) a img {
	width: 100% !important; /* TEMPORARY!!! */
}

/** inside the items... **/
.filmStrip .description {
  position: absolute;
  display: block;
  background-color: rgb(242,239,229);
  background-color: rgba(242,239,229,1);
  padding: .5em;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  min-width: 300px;
  width: 60%;
  max-width: 800px;
  transition: all 400ms;
  opacity: 0;
}

.filmStrip > li:hover .description {
  box-shadow: 0 0 .5em 0 rgba(0,0,0,.33);
  opacity: 1;
}

.filmStrip li:first-child .description,
.filmStrip li:last-child .description {
	display:none;
}

@media (min-width: 31em) {
  .filmStrip li {
  	height: 250px;
  }
}

@media (min-width: 45em) {
  .filmStrip li:first-child,
  .filmStrip li:last-child {
  	width: 15%;
  }

  .filmStrip li:nth-child(2) {
  	width: 70%;
  }

  .filmStrip li {
  	height: 300px;
  }
}

@media (min-width: 60em) {
  .filmStrip li:first-child,
  .filmStrip li:last-child {
  	width: 20%;
  }

  .filmStrip li:nth-child(2) {
  	width: 60%;
  }

  .filmStrip li {
  	height: 350px;
  }
}

@media (min-width: 75em) {
  .filmStrip li {
  	height: 450px;
  }
}

@media (min-width: 90em) {
  .filmStrip li {
  	height: 500px;
  }
}

@media (min-width: 105em) {
  .filmStrip li {
  	height: 600px;
  }
}

/** some tweaks for those w/ only 1 or two **/
/** http://alistapart.com/article/quantity-queries-for-css **/
.filmStrip li:only-of-type {
	width: 100%;
}

.filmStrip li:nth-last-child(2):first-child,
.filmStrip li:nth-last-child(2):first-child ~ li {
	width: 50%;
}

.filmStrip li:only-of-type a img,
.filmStrip li:nth-last-child(2):first-child a img,
.filmStrip li:nth-last-child(2):first-child ~ li a img {
  width: 100% !important; /* TEMPORARY!!! */
}

.filmStrip li:only-of-type .description,
.filmStrip li:nth-last-child(2):first-child .description,
.filmStrip li:nth-last-child(2):first-child ~ li .description {
	display:block;
}
.filmStrip li:only-of-type:hover .description,
.filmStrip li:nth-last-child(2):first-child:hover .description,
.filmStrip li:nth-last-child(2):first-child ~ li:hover .description {
  box-shadow: 0 0 .5em 0 rgba(0,0,0,.33);
  opacity: 1;
}
