.filmStrip li:first-child,
.filmStrip li:last-child {
	width: 10%;
}

.filmStrip li:nth-child(2) {
	width: 80%;
}

.filmStrip li {
  float:left;
	position: relative;
	height: 250px;
	overflow: hidden;
	margin-bottom: 2px;
  padding: 2px;
}

.filmStrip li a {
	position: absolute;
	height: 100%;
	width: 100%;
	overflow: hidden;
}

.filmStrip li a img {
	height: 100%;
	width: auto;
}

.filmStrip li:nth-child(2) a img {
	width: 100% !important; /*TEMPORARY!!!*/
}

@media (min-width: 31em) {
  .filmStrip li {
  	height: 250px;
  }
}

@media (min-width: 45em) {
  .filmStrip li:first-child,
  .filmStrip li:last-child {
  	width: 15%;
  }

  .filmStrip li:nth-child(2) {
  	width: 70%;
  }

  .filmStrip li {
  	height: 300px;
  }
}

@media (min-width: 60em) {
  .filmStrip li:first-child,
  .filmStrip li:last-child {
  	width: 20%;
  }

  .filmStrip li:nth-child(2) {
  	width: 60%;
  }

  .filmStrip li {
  	height: 350px;
  }
}

@media (min-width: 75em) {
  .filmStrip li {
  	height: 450px;
  }
}

@media (min-width: 90em) {
  .filmStrip li {
  	height: 500px;
  }
}

@media (min-width: 105em) {
  .filmStrip li {
  	height: 600px;
  }
}
