/*.item-grid li:nth-last-child(-n+3):first-child,
.item-grid li:nth-last-child(-n+3):first-child ~ li {
	width: 33%;
}*/

.item-grid li:nth-last-child(-n+3):first-child,
.item-grid li:nth-last-child(-n+3):last-child {
	width: 10%;
}

.item-grid li:nth-last-child(-n+3):nth-child(2) {
	width: 80%;
}

.item-grid li:nth-last-child(-n+3):first-child,
.item-grid li:nth-last-child(-n+3):first-child ~ li {
	position: relative;
	height: 250px;
	overflow: hidden;
	margin-bottom: 2px;
}

.item-grid li:nth-last-child(-n+3):first-child a,
.item-grid li:nth-last-child(-n+3):first-child ~ li a {
	position: absolute;
	height: 100%;
	width: 100%;
	overflow: hidden;
}

.item-grid li:nth-last-child(-n+3):first-child a img,
.item-grid li:nth-last-child(-n+3):first-child ~ li a img {
	height: 100%;
	width: auto;
}

.item-grid li:nth-last-child(-n+3):nth-child(2) a img {
	width: 100% !important;
}

@media (min-width: 31em) {
  .item-grid li:nth-last-child(-n+3):first-child,
  .item-grid li:nth-last-child(-n+3):first-child ~ li {
  	height: 250px;
  }
}

@media (min-width: 45em) {
  .item-grid li:nth-last-child(-n+3):first-child,
  .item-grid li:nth-last-child(-n+3):last-child {
  	width: 15%;
  }

  .item-grid li:nth-last-child(-n+3):nth-child(2) {
  	width: 70%;
  }

  .item-grid li:nth-last-child(-n+3):first-child,
  .item-grid li:nth-last-child(-n+3):first-child ~ li {
  	height: 300px;
  }
}

@media (min-width: 60em) {
  .item-grid li:nth-last-child(-n+3):first-child,
  .item-grid li:nth-last-child(-n+3):last-child {
  	width: 20%;
  }

  .item-grid li:nth-last-child(-n+3):nth-child(2) {
  	width: 60%;
  }

  .item-grid li:nth-last-child(-n+3):first-child,
  .item-grid li:nth-last-child(-n+3):first-child ~ li {
  	height: 350px;
  }
}

@media (min-width: 75em) {
  .item-grid li:nth-last-child(-n+3):first-child,
  .item-grid li:nth-last-child(-n+3):first-child ~ li {
  	height: 450px;
  }
}
